@model PageDifferenceView

@{
	ViewBag.Title = "Page Difference";
}
<h1>@Html.Raw(Model.Title)</h1>
@Html.Raw(Model.Html)
<div id="pageFooter">
	<div class="pull-right">
		@Html.Raw(Model.Tags)
	</div>

	This page was last updated @Model.LastModified ago by @Model.CreatedBy.
	@Html.ActionLink("Back", "History", new { id = Model.Id, title = Model.TitleForLink }, null)
</div>