@model PageHistoryView

@{
	ViewBag.Title = "Page History";
}
<h1>History for @Html.ActionLink(Model.Title, "Page", new { id = Model.Id, title = Model.TitleForLink })</h1>
<p>Click on a version number to compare the changes with version before it.</p>
<br />
<table class="expand striped">
	<thead>
		<tr>
			<th class="cellSmall">version</th>
			<th class="cellLarge">modified by</th>
			<th class="cellMedium">modified on</th>
			@if (Request.IsAuthenticated)
			{
				<th class="cellSmall">approved</th>
				<th>published</th>
			}
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var version in Model.Versions)
		{
			<tr>
				<td>@Html.ActionLink(version.Number.ToString(), "Difference", new { id = version.Id, title = Model.TitleForLink })</td>
				<td>@version.CreatedBy</td>
				<td>@version.LastModified ago</td>
				@if (Request.IsAuthenticated)
				{
					<td>
						@if (version.ApprovalStatus != ApprovalStatus.None && version.ApprovalStatus != ApprovalStatus.Pending)
						{
							@version.ApprovalStatus.ToString().ToLower()
						}
					</td>
					<td>
						@if (version.IsPublished)
						{
							<text>published</text>
						}
					</td>
				}
				<td></td>
			</tr>
		}
	</tbody>
</table>