<!DOCTYPE html>
<html lang="en" ng-app="Scribe">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="description" content="Document all the things!" />
		<title>@(ViewBag.Title ?? "Scribe")</title>
		<link href="~/favicon.ico?v=0.31" rel="shortcut icon" type="image/x-icon" />
		@Styles.Render("~/bundle/css")
		@if (MvcApplication.ViewCss.Length > 0)
		{
			<style media="all">
				@Html.Raw(MvcApplication.ViewCss) 
			</style>
		}
		@if (MvcApplication.PrintCss.Length > 0)
		{
			<style media="print">
				@Html.Raw(MvcApplication.PrintCss) 
			</style>
		}
	</head>
	<body ng-cloak>
		<div id="header">
			<div class="container">
				<ul id="headerLogin">
					@if (!Request.IsAuthenticated)
					{
						<li>
							Not logged in -
							@Html.ActionLink("Log In", "LogIn", "Account")
						</li>
					}
					else
					{
						<li>
							@Html.ActionLink(Request.RequestContext.HttpContext.User.Identity.GetDisplayName(), "Profile", "Account", null, new { id = "profileLink" }) -
						</li>
						<li>
							@using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { name = "logOutForm" }))
							{
								@Html.AntiForgeryToken()
								<a id="logOutLink" href="#" onclick="document.logOutForm.submit(); return false;">Log Out</a>
							}
						</li>
					}
				</ul>
				@using (Html.BeginForm("Search", "Page", FormMethod.Get))
				{
					<div id="headerSearch">
						<input name="term" type="text" placeholder="enter text to search" />
					</div>
				}
				<ul id="headerMenu">
					<li id="homeMenuItem">@Html.ActionLink("Home", "Home", "Page")</li>
					<li id="tagsMenuItem">@Html.ActionLink("Tags", "Tags", "Page")</li>
					<li id="pagesMenuItem">@Html.ActionLink("Pages", "Pages", "Page")</li>
					@if (Request.IsAuthenticated)
					{
						<li id="filesMenuItem">@Html.ActionLink("Files", "Files", "File")</li>
						<li id="newPageMenuItem">@Html.ActionLink("New Page", "New", "Page")</li>

						if (ViewBag.IsAdministrator)
						{
							<li id="settingsMenuItem">@Html.ActionLink("Settings", "Settings", "Page")</li>
						}
					}
					<li id="aboutMenuItem">@Html.ActionLink("About", "About", "Page")</li>
				</ul>
			</div>
		</div>
		<div id="content">
			<div class="container">
				@RenderBody()
			</div>
		</div>
		@Scripts.Render("~/bundle/js")
		<script src="~/signalr/hubs"></script>
		<script type="text/javascript">
			toastr.options = {
				"positionClass": "toast-bottom-right",
				"preventDuplicates": true
			}
		</script>
		@RenderSection("scripts", false)
	</body>
</html>